.active-chat-footer-container {
  padding: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0 2px 5px 0;
}

form {
  display: flex;
  align-items: center;
  gap: 1em;
}

.btn-send-message {
  border: 1.5px solid #851ff8 !important;
  background-color: #edebfe !important;
  color: #851ff8 !important;
  transition: 500ms;
}