.active-chat-body-container {
  height: 60vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  padding: 1em;
  overflow: auto;
}

.day {
  padding: .25em 1em;
  background-color: #edebfe;
  border-radius: 5px;
  width: fit-content;
  margin: 1em auto;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #edebfe;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}