@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.active-chat-header-outer-container {
  text-decoration: none!important;
}

.active-chat-header-container {
  padding: 1.5em;
  box-shadow: rgba(99, 99, 99, 0.2) 0 -2px 8px 0;
  display: flex;
  gap: 0.2em;
  align-items: center;
  transition: 300ms all;

}

.active-chat-header-container:hover {
  background-color: #edebfe;
  cursor: pointer;
}


.active-chat-header-avatar {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 1em;
}

.active-chat-header-name {
  color: #851ff8;
}

.active-chat-header-name>span {
  font-family: 'Poppins', sans-serif;
}

@media (min-width: 768px) {
  .active-chat-header-avatar {
    width: 5vw;
    height: 5vw;
    gap: 1em;
  }

  .active-chat-header-name {
    font-size: 24px;
  }
}