.message-container {
  position: relative;
  width: fit-content;
  max-width: 40%;
  padding: 1em;
  margin-top: 0.5em;
  border-radius: 3px;
  background: linear-gradient(to top left, #851ff8, #786cf7);
  color: #fff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.edit-container {
  display: flex;
  align-items: center;
  gap: .5em;
}

.edit-container > *{
  padding: .3em;
  outline: none;

}

.input-edit-message {
  background-color: transparent;
  color: #fff;
  border: 1px solid #edebfe;
  border-radius: 5px;
}

.edit-container > button {
  background-color: #edebfe;
  border-radius: 5px;
  color: #784fff;
  border: 1px solid gray;
  font-weight: 600;
  transition: 300ms all;
}

.edit-container > button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.alert-report {
  max-width: 75%;
  margin: 1em auto;
}

.message-actions {
  position: absolute;
  top: 0;
  transform: translateY(50%);
  transform: translateX(110%);
  border-radius: 5px;
  background-color: #784fff;
  padding: 1em;
  z-index: 1;
}

.other-actions {
  right: 0;
}

.my-actions {
  left: 0 I !important;
  transform: translateX(-115%);
}

.message-action {
  width: 10vw;
  font-size: 12px;
  transition: 300ms all;
  padding: .5em;
}

.message-action:hover {
  cursor: pointer;
  background-color: #786fff;
}

.toggle-message-actions-mine {
  left: 0 !important;
}

.toggle-message-actions {
  position: absolute;
  top: 5px;
  right: 3px;
  padding: .2em;
  border-radius: 50%;
  transition: 300ms all;
}

.toggle-message-actions:hover {
  cursor: pointer;
  background-color: #786fff;
}

.message-participant {
  font-weight: 600;
  font-size: 14px;
}

.message-text {
  font-size: 14px;
}

.mine {
  margin-left: auto;
}

.message-time {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
  color: #fff;
}

.modal-title {
  font-weight: 600;
  font-size: 30px;
}

.modal-form {
  margin: 1em;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.modal-form > textarea {
  width: 75%;
  height: 20vh;
  margin: 0 auto;
}

.modal-form > button {
  width: fit-content;
  margin: 0 auto;
}
