.songCard {
  border: 2px solid #851ff8;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 1em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.songCard img {
  max-width: 150px;
}

.likeCard {
  border: 2px solid #5343f1;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
}

.songsContainer {
  margin: 1.5em 0;
}

.btnAddSong {
  border: 2px solid #851ff8;
  background-color: #edebfe;
  color: white;
  border-radius: 50%;
  padding: 2em;
  width: 3em;
  height: 3em;
  color: #851ff8;
  transition: 500ms;
}

.btnAddSong span {
  font-size: 1.4em;
}

.btnAddSong:hover {
  background-color: #851ff8;
  color: #edebfe;
  transition: 500ms;
}

.likeIcon {
  color: #851ff8;
  font-size: 1.5em;
  margin-right: 0.5em;
}

.darkBlueText {
  color: #5343f1;
}

.darkBlueText:hover {
  color: #851ff8;
}

.bgDarkBlue {
  background-color: #5343f1;
}

.avoidInline {
  white-space: pre-wrap;
}
